
.App {
  display: flex;
  flex-direction: row;
}

.todoList {
  width: 300px;
  margin: 0 auto;
  background-color: #f0ccbc;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {
  opacity: 1;
}
.filter-active {background: red;}
.btn:hover {background: yellow;}
.btn:active {background: green;}
.error {
  border-color: red;
}

.done {
  opacity: 0.5;
}

.taskContainer{
  display: flex;
  justify-content: space-between;

}